.visit-countries-container {
  background-color: #161624;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  font-family: 'Roboto';
}
.heading {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
.visit-countries-list {
  background-color: #1f1f2f;
  border: 1px solid #334155;
  border-radius: 5px;
  padding: 5px;

  max-height: 330px;
  overflow-y: auto;
}
.filtered-countries-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.no-countries-visited-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
